body {
  margin: 0;
  padding: 0;
  background: #155263;
}
h1 {
  text-align: center;
  color: #ffc93c;
  font-size: 4em;
}
main {
  display: block;
  margin: 0 auto;
  text-align: center;
}
form {
  width: 100%;
}
small {
  color: #ffc93c;
}
footer {
  text-align: center;
  margin-top: 30px;
  color: #ffc93c;
}
a {
  color: #ff6f3c;
}
.submit {
  width: 10%;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid #155263;
  font-size: 1em;
  margin-left: 10px;
  background: #ff6f3c;
  color: #155263;
  transition: 200ms ease-in-out;
}
.submit:hover {
  background: #155263;
  border: 1px solid #ff6f3c;
  color: #ff6f3c;
}
.subject {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 1em;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 900px;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.poem {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #ff9a3c;
  max-width: 100%;
  line-height: 1.7;
  font-size: 1.2em;
  border-radius: 8px;
  padding: 20px;
  box-shadow: #00000056 1px 1px 10px;
}
.hidden {
  display: none;
}
.first-color {
  background: #155263;
}

.second-color {
  background: #ff6f3c;
}

.third-color {
  background: #ff9a3c;
}

.fourth-color {
  background: #ffc93c;
}
